* {
  background-color: #10101a;

  /* box-sizing: border-box; */
}

body {
  margin: 0;

  /* height: 105vh; */
  width: 100%;

  /* display: flex; */
  align-items: center;
  justify-content: center;

  /* overflow: hidden; */
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #555;

  /* background: #10131F; */
}

.link {
  background: #10131f;
}

.fields {
  background: #10131f;
}

.sub-title {
  background: #10131f;
}

.title {
  background: #10131f;
}

.login-div {
  background: #10131f;
}

.login-div {
  width: 430px;
  height: 880px;
  margin: 0 auto;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background: #10131f;
  box-shadow: 13px 13px 20px #0a0a12, -13px -13px 20px #1d1d29;
}

.logo {
  background: url("../style/Logo.png");
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0px 0px 2px #5f5f5f, /* offset */ 0px 0px 0px 5px #10131f,
    /*bottom right */ 8px 8px 15px #a7aaaf,
    /* top left */ -8px -8px 15px #ffffff;
}

.title {
  text-align: center;
  font-size: 28px;
  margin-top: 29px;
  padding-top: 1px;
  letter-spacing: 0.5px;
}

.sub-title {
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: 3px;
}

.fields {
  width: 100%;
  padding: 20px 5px 5px 5px;
}

.fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
}

.username,
.password {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #0a0a12, inset -8px -8px 8px #1d1d29;
}

.fields svg {
  height: 22px;
  margin: 0 10px -3px 25px;
}

.signin-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  /* background: #1D1D29; */
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #0a0a12, inset -8px -8px 8px #1d1d29;
  transition: 0.5s;
}

.signin-button:hover {
  background: #191826;
}

.signin-button:active {
  background: #191826;
}
