.header {
  background-color: #3ca0e7;
  margin-bottom: 10px;
  background: #10131f;
}

ul primary-menu-items {
  background-color: rgb(22, 24, 25);
}

.primary-menu-item {
  transition: 0.1s;
}

.primary-menu-item:hover {
  background: #3ca0e7;
}

.header h1 {
  text-align: center;
  color: aliceblue;
  font-family: "Yellowtail", cursive;
  font-weight: bold;
  font-size: 60px;
  margin: 0 auto;
}

.primary-navigation {
  margin: 0 auto;
  display: block;

  /* padding: 0px 0 0 0; */
  text-align: center;
  font-size: 16px;
  background: none;
}

.primary-navigation ul {
  background: none;
}

.primary-navigation ul li {
  width: 159px;
  height: 50px;
  /* margin: px; */
  font-size: 16px;
  border-radius: 80px;
  border-style: none;
  color: white;
  font-weight: 400;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: 0.5s;
  outline: none;
  /* background: none; */
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
  font-weight: 600;
  list-style: none;
  margin: 16px;
  /* background-color: rgb(22, 24, 25)'; */
  background: #004679;
  box-shadow: inset 7px 7px 15px #0070c2, inset -10px -5px 9px #001c30;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
  justify-content: center;
  font-family: sans-serif;
}

.primary-navigation li a {
  color: white;
  padding: 10px 40px 10px 40px;
}

.primary-navigation li a:hover {
  color: #ffffff;
}

.primary-navigation li:hover {
  cursor: pointer;
}

.primary-navigation ul li ul {
  display: none;

  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;

  background: white;
}

.primary-navigation ul li:hover > ul,
ul li ul:hover {
  display: block;
  visibility: visible;
  opacity: 1;

  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  border-right: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}

.primary-navigation a,
.primary-navigation a:hover {
  text-decoration: none;
  color: #3ca0e7;
}
.primary-navigation ul li ul li a {
  transition: all 0.5s ease;
}
