* {
  font-family: "Oswald", sans-serif;
}

.userOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

}
.account-overview{
  background-color: #3ca0e7;
  border-radius: 24px;
  background: linear-gradient(145deg, #004b81, #003f6d);
  box-shadow: inset 10px 10px 20px #001c30, 
              inset -10px -10px 20px #0070c2;
}

.log-out-btn{
  background-color: #3ca0e7;
  border-radius: 24px;
  background: linear-gradient(145deg, #004b81, #003f6d);
  box-shadow: inset 10px 10px 20px #001c30, 
              inset -10px -10px 20px #0070c2;
}
.update-profile{
  background-color: #3ca0e7;
  border-radius: 24px;
  background: linear-gradient(145deg, #004b81, #003f6d);
  box-shadow: inset 10px 10px 20px #001c30, 
              inset -10px -10px 20px #0070c2;
}
.user-goal {
  margin-top: 40px;
  /* background-color: rgb(202, 202, 202); */
  width: 75%;
  text-align: center;
  color: black;
  padding: 8px;
  border: 1px solid grey;
  font-weight: lighter;
  border-radius: 10px;
  background: #cacaca;
  box-shadow: inset 10px 10px 20px #515151, 
              inset -10px -10px 20px #ffffff;
}

.calorie-container {
  display: flex;
  width: 70%;
  margin-bottom: 0;
}

.calorie-info {
  background-color: #cacaca;
  border: 1px solid grey;
  width: 45%;
  text-align: center;
  padding: 15px;
  font-weight: lighter;
  color: black;
  margin-bottom: 5px;
  border-radius: 10px;
background: #cacaca;
box-shadow: inset 10px 10px 20px #515151, 
            inset -10px -10px 20px #ffffff;
}

.calorie-number {
  padding-top: 13px;
  background-color: #3ca0e7;
  color: black;
  text-align: center;
  width: 15%;
  font-weight: 500;
  border: 1px solid grey;
  margin-left: 3px;
  margin-bottom: 5px;
  border-radius: 10px;
background: #3ca0e7;
box-shadow: inset 10px 10px 20px #001c30, 
            inset -10px -10px 20px #3ca0e7;
}

.calorie-day-count {
  letter-spacing: 0.5px;
  font-size: larger;
  border: 1px solid grey;
  width: 65%;
  background-color: rgb(0, 70, 121);
  font-weight: lighter;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
background: #004679;
box-shadow: inset 10px 10px 20px #001c30, 
            inset -10px -10px 20px #0070c2;
}

.line-sep {
  width: 90%;

  height: 2px;
  background-color: rgb(187, 185, 185);
  margin: 50px;
}

.food-container {
  background-color: rgb(204, 201, 201);
  width: 40%;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 10px;
background: #cacaca;
box-shadow: inset 10px 10px 20px #515151, 
            inset -10px -10px 20px #ffffff;
}

.added-foods {
  background-color: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-bottom: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
}

.food-li {
  background-color: rgb(255, 255, 255);
  color: black;
  list-style-type: none;
}

.input-add-food {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 5px;
  padding: 8px;
  color: black;border-radius: 10px;
  background: linear-gradient(145deg, #cacaca, #e6e6e6);
  box-shadow:  10px 10px 20px #666666, 
               -10px -10px 20px #cacaca;
}

.input-add-food::placeholder {
  color: black;
  font-weight: lighter;
  text-align: center;
  
}

.add-food-btn {
  width: 175px;
  margin: 15px;
  /* background-color: #080920; */
  padding: 8px;
  border: 1px solid transparent;
  letter-spacing: 1px;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 10px;
background: linear-gradient(145deg, #090a22, #07081d);
box-shadow:  10px 10px 20px #666666, 
             -10px -10px 20px #cacaca;
  
}

.add-food-btn:hover {
  background-color: rgb(0, 70, 121);
}

.added-foods{
  border-radius: 10px;
background: linear-gradient(145deg, #090a22, #07081d);
box-shadow:  5px 5px 20px #03040d, 
             -2px -2px 20px #0d0e33;
}

.foods-table {
  float: left;
  background-color: transparent;
  color: black;
  font-weight: 500;
}

.ate-button {
  margin-left: 5px;
  margin-right: 5px;

  cursor: pointer;
}

.button-container {
  display: inline-block;
  position: relative;
  background-color: transparent;
  /* inline-block is ignored due to the float. If 'float' has a value other than 'none', the box is floated and 'display' is treated as 'block' */
  float: none;
}

#trash-can {
  cursor: pointer;
  color: rgb(255, 31, 31);
}

.welcome-user {
  margin: 20px;
  font-family: Arial;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: black;
  background-color: transparent;
}

.profile-header button {
  border: none;
  border-radius: 25px;
  border-left: 2px solid #3ca0e7;
  border-right: 2px solid #3ca0e7;
  box-shadow: inset 8px 8px 8px #0a0a12, inset -8px -8px 8px #1d1d29;
  color: #fff;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  margin: 15px;
  margin-bottom: 20px;
  outline: none;
  text-align: center;
  transition: 0.5s;
  margin: 0px 8%;
  padding: 15px;
}



.welcome-container {
  /* background-color: rgb(214, 214, 214); */
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 40px; */
  margin: auto;
  border: 1px solid grey;
  /* border-radius: 3px; */
  padding: 10px;
  border-radius: 10px;
background: #cacaca;
box-shadow: inset 10px 10px 20px #515151, 
            inset -10px -10px 20px #ffffff;
  /* border-radius: 24px;
background: linear-gradient(145deg, #d8d8d8, #b6b6b6);
box-shadow:  10px 10px 20px #515151, 
             -10px -10px 20px #ffffff; */
}

.welcoming-paragraph {
  background-color: transparent;
  color: rgb(94, 94, 94);
  width: 75%;
}

.account-overview {
  width: 175px;
  margin: 15px;
  background-color: rgb(8, 9, 32);
  padding: 8px;
  border: 1px solid grey;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: 0.2s;
  cursor: pointer;
}

.log-out-btn {
  width: 175px;
  margin: 15px;
  background-color: rgb(8, 9, 32);
  padding: 8px;
  border: 1px solid grey;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: 0.2s;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}

.update-profile {
  width: 175px;
  margin: 15px;
  background-color: rgb(8, 9, 32);
  padding: 8px;
  border: 1px solid grey;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: 0.2s;
  cursor: pointer;
}

.update-profile:hover,
.log-out-btn:hover,
.account-overview:hover {
  background-color: rgb(0, 70, 121);
}

@media only screen and (max-width: 950px) {
  .welcome-container {
    width: 95%;
  }

  .welcome-user {
    margin: 20px;
    font-family: Arial;
    font-weight: 500;
    font-size: xx-large;
    letter-spacing: 1.5px;
    color: black;
    background-color: transparent;
  }
  .user-goal {
    width: 90%;
    font-size: x-large;
  }
  .calorie-day-count {
    width: 85%;
    font-size: large;
    border-radius: 10px;
background: linear-gradient(145deg, #004b81, #003f6d);
box-shadow:  10px 10px 20px #001c30, 
             -10px -10px 20px #0070c2;
  }
  .calorie-info {
    width: 70%;
    font-size: large;
  }
  .calorie-number {
    width: 30%;
    font-size: medium;
    text-align: center;
  }
  .food-container {
    width: 85%;
  }
}
