* {
  font-family: "Oswald", sans-serif;
}

.userOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.account-overview {
  font-weight: 600;
  color: white;

  border-radius: 3px;
  background: linear-gradient(145deg, #004b81, #003f6d);
  box-shadow: inset -3px -3px 8px #001c30, inset 3px 3px 8px #0070c2;
  width: 175px;
  margin: 15px;

  padding: 8px;
  border: 1px solid grey;

  letter-spacing: 1px;
  transition: 0.2s;
  cursor: pointer;
}

.welcome-container a {
  cursor: default;
}

.wtf {
  margin-bottom: 100px;
}

.log-out-btn {
  font-weight: 600;
  color: white;

  background: linear-gradient(145deg, #004b81, #003f6d);
  box-shadow: inset -3px -3px 8px #001c30, inset 3px 3px 8px #0070c2;
  width: 175px;
  margin: 15px;

  padding: 8px;
  border: 1px solid grey;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: 0.2s;
}

.update-profile {
  width: 175px;
  margin: 15px;
  color: white;

  padding: 8px;
  border: 1px solid grey;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: 0.2s;

  font-weight: 600;

  background: linear-gradient(145deg, #004b81, #003f6d);
  box-shadow: inset -3px -3px 8px #001c30, inset 3px 3px 8px #0070c2;
}

.user-goal {
  margin-top: 40px;
  /* background-color: rgb(202, 202, 202); */
  width: 75%;
  text-transform: capitalize;
  text-align: center;
  color: black;
  padding: 8px;
  border: 1px solid grey;
  font-weight: lighter;
  border-radius: 10px;
  background: #cacaca;
  box-shadow: inset -10px -10px 20px #515151, inset 10px 10px 20px #ffffff;
}

.calorie-container {
  justify-content: center;
  display: flex;
  width: 70%;
  margin-bottom: 0;
}

.calorie-info {
  background-color: #cacaca;
  border: 1px solid grey;
  width: 45%;
  text-align: center;
  padding: 15px;
  font-weight: lighter;
  color: black;
  margin-bottom: 5px;
  border-radius: 10px;
  background: #cacaca;
  box-shadow: inset 7px 7px 15px #cacaca, inset -10px -5px 9px #515151;
}

.calorie-number {
  padding-top: 13px;
  background-color: rgb(0, 70, 121);
  color: white;
  text-align: center;
  width: 25%;
  font-weight: 500;
  /* border: 1px solid grey; */
  margin-left: 3px;
  margin-bottom: 5px;
  border-radius: 10px;

  background: #004679;
  box-shadow: inset -7px -7px 15px #001c30, inset 5px 5px 9px #0070c2;
}

.calorie-day-count {
  letter-spacing: 0.5px;
  font-size: larger;
  /* border: 1px solid grey; */
  width: 65%;
  background-color: rgb(0, 70, 121);
  font-weight: lighter;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
  background: #004679;
  box-shadow: inset -7px -7px 15px #001c30, inset 7px 7px 15px #0070c2;
}

.line-sep {
  width: 90%;

  height: 2px;
  background-color: rgb(187, 185, 185);
  margin: 50px;
}
.food-container {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: -2px;
}

.food-container {
  background-color: rgb(204, 201, 201);
  width: 40%;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* margin-top: px; */
  margin-bottom: 30px;
  border-radius: 10px;
  background: linear-gradient(145deg, #090a22, #07081d);
  box-shadow: inset 5px 5px 10px #666666, inset -5px -5px 10px #cacaca;
  /* border-radius: 10px;
  background: #cacaca;
  box-shadow: inset 10px 10px 20px #515151, inset -10px -10px 20px #ffffff; */
}

.added-foods {
  background-color: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-bottom: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
}

.added-foods {
  /* background-color: #cacaca; */
  /* background-color: #1d1d29; */
  border-radius: 10px;
  background: linear-gradient(145deg, #090a22, #07081d);
  box-shadow: inset 1px 1px 3px #666666, inset -1px -1px 3px #cacaca;
}

.food-li {
  /* background-color: rgb(255, 255, 255); */
  list-style-type: none;
  text-transform: capitalize;
  background-color: transparent;
}

.input-add-food {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 5px;
  padding: 8px;
  color: black;
  border-radius: 10px;
  background: linear-gradient(145deg, #cacaca, #e6e6e6);
  box-shadow: inset 3px 3px 6px #666666, inset -3px -3px 6px #cacaca;
}

.input-add-food::placeholder {
  color: black;
  font-weight: lighter;
  text-align: center;
}

.add-food-btn {
  width: 175px;
  margin: 15px;
  /* background-color: #080920; */
  padding: 8px;
  border: 1px solid transparent;
  letter-spacing: 1px;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(145deg, #090a22, #07081d);
  box-shadow: -2px -2px 6px #666666, 2px 2px 6px #cacaca;
}

.add-food-btn:hover {
  color: #337baf;
}

/* .added-foods {;
  border-radius: 10px;
  background: linear-gradient(145deg, #090a22, #07081d);
  box-shadow: 5px 5px 20px #03040d, -2px -2px 20px #0d0e33;
} */

p {
  background-color: transparent;
}

.foods-table {
  background-color: transparent;
  color: #fffbfb;
  font-weight: 500;
}

.ate-button {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(145deg, #090a22, #07081d);
  box-shadow: 1px 1px 3px #666666, -1px -1px 3px #cacaca;
}

.button-container {
  position: relative;
  background-color: transparent;
  /* inline-block is ignored due to the float. If 'float' has a value other than 'none', the box is floated and 'display' is treated as 'block' */
  float: right;
}

#trash-can {
  cursor: pointer;
  color: rgb(255, 31, 31);
  background: linear-gradient(145deg, #090a22, #07081d);
  box-shadow: 1px 1px 3px #666666, -1px -1px 3px #cacaca;
}

.welcome-user {
  margin: 20px;
  font-family: Arial;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: black;
  background-color: transparent;
}

.profile-header button {
  border: none;
  border-radius: 25px;
  border-left: 2px solid #3ca0e7;
  border-right: 2px solid #3ca0e7;
  box-shadow: inset 8px 8px 8px #0a0a12, inset -8px -8px 8px #1d1d29;
  color: #fff;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  margin: 15px;
  margin-bottom: 20px;
  outline: none;
  text-align: center;
  transition: 0.5s;
  margin: 0px 8%;
  padding: 15px;
}

.welcome-container {
  /* background-color: rgb(214, 214, 214); */
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid grey;

  padding: 10px;
  border-radius: 10px;
  background: #cacaca;
  box-shadow: inset -10px -10px 20px #515151, inset 10px 10px 20px grey;
}

.welcome-line-sep {
  margin: 50px auto;
  width: 90%;

  height: 2px;
  background-color: rgb(187, 185, 185);
}

.welcoming-paragraph {
  background-color: transparent;
  color: rgb(94, 94, 94);
  width: 75%;
}

html {
  scroll-behavior: smooth;
}

.update-profile:hover,
.log-out-btn:hover,
.account-overview:hover {
  border-color: lightblue;
}

@media only screen and (max-width: 950px) {
  .welcome-container {
    width: 95%;
  }
  .welcome-line-sep {
    margin: 0;
    margin-top: 50px;
    width: 90%;

    height: 2px;
    background-color: rgb(187, 185, 185);
  }

  .welcome-user {
    margin: 20px;
    /* font-size: bold; */
    font-family: arial;
    font-weight: 500;
    font-size: xx-large;
    letter-spacing: 1.5px;
    color: black;
    background-color: transparent;
  }
  .user-goal {
    width: 90%;
    font-size: x-large;
  }
  .calorie-day-count {
    width: 85%;
    font-size: large;
    border-radius: 10px;
    background: linear-gradient(145deg, #004b81, #003f6d);
  }
  .calorie-info {
    width: 70%;
    font-size: large;
  }
  .calorie-number {
    width: 30%;
    font-size: medium;
    text-align: center;
  }
  .food-container {
    width: 85%;
  }
}
