.calorie-tracker-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5%;
  text-align: center;
  border: 0.5px #3ca0e7 solid;
  border-radius: 10px;
  background: url("https://wellnessdoctorrx.com/wp-content/uploads/2020/01/Functional-Neurology-How-to-Improve-Adrenal-Fatigue-with-Diet-El-Paso-TX-Chiropractor.jpg")
    no-repeat center;
  background-size: cover;
  margin-bottom: 100px;
}

.hr-search {
  margin-bottom: 50px;
  width: 90%;
  color: rgb(197, 197, 197);
}

body h2 {
  background-color: transparent;
}

/* recipeIntro class is for the text above the recipe search bar explaining the recipe search feature */

.recipeIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  letter-spacing: 1px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}
.calorie-tracker-wrapper h2 {
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 60px;
  margin: 10px 0px;
  padding-bottom: 20px;
  padding: 15px;
  background: none;

  text-shadow: 2px 2px rgb(0, 0, 0);
}

.calorie-tracker-wrapper button {
  border: none;

  border-radius: 20px;

  box-shadow: inset 8px 8px 8px #0a0a12, inset -8px -8px 8px #1d1d29;
  width: 150px;
  cursor: pointer;
  margin: 25px 25px;
  outline: none;
  padding: 15px;
  transition: 0.5s;
  background-color: rgb(16, 16, 26);
}

.calorie-tracker-wrapper button:hover {
  color: #3ca0e7;
}

.search-text-box {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 80%;
  background-color: rgb(245, 245, 245);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 8px;
  color: #0a0a12;
  transition: 0.2s;
}

.search-text-box:focus {
  width: 83%;
  padding: 10px;
}

.search-text-box::placeholder {
  color: black;
  font-size: medium;
  font-weight: lighter;
}

.image-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 50px;
}

#fitness-img {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 915px) {
  .calorie-tracker-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 5%;
    text-align: center;
    border: 0.5px #3ca0e7 solid;
    border-radius: 10px;
  }
  .image-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  #fitness-img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
