body {
  color: white;
}

input {
  color: white;
}

.logo-workout-log {
  background: url("../style/Logo.png");
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 23px auto;

  box-shadow: 0px 0px 2px #5f5f5f, /* offset */ 0px 0px 0px 5px #10131f,
    /*bottom right */ 8px 8px 15px #a7aaaf,
    /* top left */ -8px -8px 15px #ffffff;
}

.workout-log-header {
  text-align: center;
}
.workout-log-header {
  font-family: "Yellowtail", cursive;
  font-size: 60px;
  margin: auto 0px;
}
.input-wrapper {
  width: 30%;
  height: auto;
  margin-top: 3%;
  margin-right: auto;
  padding: 60px 35px 35px 35px;
  margin-left: 10%;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #10131f;
  box-shadow: 13px 13px 20px #0a0a12, -13px -13px 20px #1d1d29;
}

.input-wrapper input {
  width: 100%;
  margin: 15px;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: whtie;
  padding: 20px 10px 20px 5px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #0a0a12, inset -8px -8px 8px #1d1d29;
  text-align: center;
}
.input-wrapper button {
  margin: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #0a0a12, inset -8px -8px 8px #1d1d29;
  transition: 0.5s;
}

.selector-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: #10131f;

  margin-top: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.selector-wrapper select {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color: white;
  border: 0.0025px #3ca0e7 solid;
  border-radius: 25px;
}

.exercise-content-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  background: #101420;
  border: 0.0025px #3ca0e752 solid;
  border-radius: 25px;
}

.exercise-content-wrapper ul,
h2,
li {
  background-color: #101420;
}

.filter-button-wrapper {
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: #10131f;
}
.filter-button {
  border-radius: 25px;
  padding: 15px;
  margin: 25px;
  box-shadow: inset 8px 8px 8px #0a0a12, inset -8px -8px 8px #1d1d29;
  transition: 0.5s;
  outline: none;
  border: none;
  cursor: pointer;
  border-left: 2px solid #3ca0e7;
  border-right: 2px solid #3ca0e7;
}

.right-side-wrapper {
  width: 40%;
  margin-left: auto;
  margin-right: 10%;
  margin-top: -605px;
  background: #10131f;
  box-shadow: 13px 13px 20px #0a0a12, -13px -13px 20px #1d1d29;
  padding: 60px 35px 35px 35px;
}

.exercise-item {
  font-size: 30px;
  padding: 10px;
  color: white;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
  margin: auto;
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
